<table class="table table-striped table-inverse  table-bordered">
    <thead class="thead-inverse">
        <tr>
            <th>Alumnos reprobados</th>
            <th>Alumnos Aprobados</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <app-grupo-reprovado></app-grupo-reprovado>
                </td>
                <td>
                    <app-grupo-aprovado></app-grupo-aprovado>
                </td>
            </tr>
         
        </tbody>
</table>