<!-- <h1>Este es un estudiante</h1>


<div *ngIf="!aprobado" class="alert alert-danger" role="alert">
    <strong>Estas reprobado</strong>
</div>



<div *ngIf="aprobado" class="alert alert-success" role="alert">
    <strong>Estas Aprobado</strong>
</div>






<div class="form-group">
  <label for="">Seleccione su estado</label>
  <input type="checkbox" (change)=" aprobado = !aprobado"
    class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
</div>

<div class="form-group">
  <label for=""></label>
  <input type="text" [value]="grupo"
    class="form-control" placeholder="hola esciba algo">
</div>

<div class="form-group">
    <label for=""></label>
    <input type="text" [(ngModel)]="grupo" 
      class="form-control" placeholder="hola esciba algo para ejecutar evento">
  </div>

{{grupo}} -->









  <div class="card">
    <img class="card-img-top" src="holder.js/100x180/" alt="">
    <div class="card-body">

    
      <h2 class="card-title">{{estudiante.nombre}}</h2>
      <img src="{{estudiante.img}}"
      class="img-fluid" style="width: 100px; height: 100px;" alt="">
      
   
      <span *ngIf="estudiante.aprobado"   class="badge badge-primary">Aprobado</span>
      <span *ngIf="!estudiante.aprobado" class="badge badge-danger">Reprobado</span>


      <div class="custom-control custom-switch">
        <input [(ngModel)]="estudiante.aprobado" type="checkbox" class="custom-control-input" id="customSwitch{{estudiante.nombre}}">
        <label class="custom-control-label" for="customSwitch{{estudiante.nombre}}">{{ estudiante.aprobado ? 'Aprobado' : 'Reprobado' }}</label>
      </div>
      <p class="card-text">
        {{estudiante.desc}}
      </p>
    </div>
  </div>
  



